.footer {
	background-color: #000;
    color: #fff;
	.wrap {
		padding: 7vh 12vw;
		.footer-lower {
			ul {
				display: flex;
				justify-content: space-between;
				li {
					width: 25%;
					.inner {
						display: flex;
						flex-direction: column;
						padding: 10px;
						h2 {
							font: bold 12px 'Roboto';
							margin-bottom: 10px;
						}
						p {
							font: 300 12px/1.4 'Roboto';
                            color: #fff;
						}
						> a {
                            color: #fff;
							font: 300 12px/1.4 'Roboto';
						}

					}
				}
			}
		}
	}
}

@media screen and (max-width: 1179px) {

	.footer {
		.wrap {
			.footer-upper {
				display: none;
			}
			.footer-lower {
				ul {
					flex-wrap: wrap;

					li {
						width: 50%;
					}
				}
			}
		}
	}
}
