.community{
    .inner{
        animation: fade 1s ease-in-out;
        .faq{
            margin-bottom: 60px;
            h1{
                font: 20px/1 'Roboto';
                margin-bottom: 40px;
                padding-bottom: 20px;
                border-bottom: 1px solid #ddd;
                color: #555;
            }
            article{
                padding-bottom: 1rem;
                margin-bottom: 1rem;
                border-bottom: 2px solid #999;
                cursor: pointer;
                &:hover{
                    background: #efefef;
                    border-radius: 4px;
                }

                &.active .answer{
                    max-height: 300px;
                    animation: fade 1s ease-in-out;
                }
                &.active i{
                    transform: rotate(180deg);
                }
                .question{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding-top: 1rem;
                    cursor: pointer;
                    .question-front{
                        display: flex;
                    h2{
                        margin-left: 20px;
                        font: bold 16px/1 'Roboto';
                        cursor: pointer;
                    }
                    i{margin-left: 10px;
                        cursor: pointer;}
                }
                    i{
                        transition: transform 0.8s ease-in-out;
                        margin-right: 10px;
                        cursor: pointer;
                    }
                }
                .answer{
                    max-height: 0;
                    overflow: hidden;
                    transition: max-height 0.8s ease-in-out;
                    p{
                        padding-top: 2rem;
                        padding-left: 40px;
                        font: 300 14px/1.4 'Roboto';
                        color: #aaa;
                    }
                }

            }

        }
        .help{
            h1{
                font: 20px/1 'Roboto';
                margin-bottom: 40px;
                padding-bottom: 20px;
                border-bottom: 1px solid #ddd;
                color: #555;
            }
           .boxes{
               display: flex;
               .inputBox{
                width: 50%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding-right: 20px;
                input{
                    width: 100%;
                    margin-bottom: 10px;
                    padding: 5px 10px;
                    background: #efefef;
                    border: 1px solid #ccc;
                    font: 300 14px/1 'Roboto';

                }
                textarea{
                    width: 100%;
                    height: 240px;
                    margin-bottom: 10px;
                    padding: 10px;
                    resize: none;
                    overflow-y: hidden;
                    background: #efefef;
                    border: 1px solid #ccc;
                    font: 300 14px/1 'Roboto';
                }
                .btns{
                    display: flex;
                    justify-content: space-between;
                    width: 100%;
                    button{
                        width: 150px;
                        border: none;
                        padding: 5px;
                        background: #ccc;
                        color: #000;
                        font: 14px/1 'Roboto';
                    }
                }
               }
               .showBox{
                width: 50%;
                background: #efefef;
                overflow-y: hidden;
                padding: 5px 10px;
                article{
                    .post{
                        padding: 5px 10px;
                        display: flex;
                        justify-content: space-between;
                        background: #fff;

                    }
                }
               }
           }
        }

    }
}

