.community{
    .inner{
        animation: fade 1s ease-in-out;
        .faq{
            margin-bottom: 60px;
            min-height: 300px;
            h1{
                font: 20px/1 'Roboto';
                margin-bottom: 40px;
                padding-bottom: 20px;
                border-bottom: 1px solid #ddd;
                color: #555;
            }
            article{
                padding-bottom: 1rem;
                margin-bottom: 1rem;
                border-bottom: 2px solid #999;
                cursor: pointer;
                &:hover{
                    background: #efefef;
                    border-radius: 4px;
                }

                &.active .answer{
                    max-height: 300px;
                    // animation: fade 1s ease-in-out;
                }
                &.active i{
                    transform: rotate(180deg);
                }
                .question{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding-top: 1rem;
                    cursor: pointer;
                    .question-front{
                        display: flex;
                    h2{
                        margin-left: 20px;
                        font: bold 16px/1 'Roboto';
                        cursor: pointer;
                    }
                    i{margin-left: 10px;
                        cursor: pointer;}
                }
                    i{
                        transition: transform 0.8s ease-in-out;
                        margin-right: 10px;
                        cursor: pointer;
                    }
                }
                .answer{
                    max-height: 0;
                    overflow: hidden;
                    transition: max-height 0.8s ease-in-out;
                    p{
                        padding-top: 2rem;
                        padding-left: 40px;
                        padding-right: 10px;
                        font: 300 14px/1.4 'Roboto';
                        color: #aaa;
                    }
                }

            }

        }
        .pics{
            .swiper{
                width: 100%;
                padding-bottom: 100px;
                .swiper-slide{
                    background-position: center;
                    background-size: cover;
                    width: 240px;
                    height: 180px;
                    img{
                        width: 100%;
                        height: 100%;
                    }
                }
            }
        }

        .help{
            h1{
                font: 20px/1 'Roboto';
                margin-bottom: 40px;
                padding-bottom: 20px;
                border-bottom: 1px solid #ddd;
                color: #555;
            }
           .boxes{
               display: flex;
               .inputBox{
                width: 50%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding-right: 20px;

                input{
                    width: 100%;
                    margin-bottom: 10px;
                    padding: 5px 10px;
                    background: #efefef;
                    border: 1px solid #ccc;
                    font: 300 14px/1 'Roboto';

                }
                select{
                    width: 100%;
                    margin-bottom: 10px;
                    padding: 5px 10px;
                    background: #efefef;
                    outline: none;
                    border: 1px solid #ccc;
                    color: #999;
                }
                textarea{
                    width: 100%;
                    height: 240px;
                    margin-bottom: 10px;
                    padding: 10px;
                    resize: none;
                    overflow-y: hidden;
                    background: #efefef;
                    border: 1px solid #ccc;
                    font: 300 14px/1 'Roboto';
                }
                .btns{
                    display: flex;
                    justify-content: space-between;
                    width: 100%;
                    button{
                        width: 150px;
                        border: none;
                        padding: 5px;
                        background: #aaa;
                        color: #fff;
                        font: 14px/1 'Roboto';
                        cursor: pointer;
                    }
                }
               }
               .showBox{
                width: 50%;
                height: 350px;
                background: #efefef;
                overflow-y: hidden;
                padding: 10px;
                overflow-y: scroll;

                article{
                    .post{
                        width: 100%;
                        padding: 20px 10px;
                        display: flex;
                        justify-content: space-between;
                        background: #fff;
                        select{
                            width: 25%;
                        }
                        input{
                            width: 75%;
                            font: 300 14px/1 'Roboto';
                            padding-left: 5px;

                            &:nth-of-type(1){
                                width: 50%;
                            }
                            &:nth-of-type(2){
                                width: 25%;
                            }
                        }
                        strong{
                            width: 25%;
                            font: 300 14px/1 'Roboto';
                        }
                        p{
                            width: 50%;
                            font: 300 14px/1 'Roboto';
                        }
                        span{
                            width: 25%;
                            font: 300 14px/1 'Roboto';
                        }

                    }
                    .btns{
                        margin: 5px 0;
                        display: flex;
                        justify-content: flex-end;
                        li{
                            margin: 5px;
                            i{
                                font-size: 16px;
                                cursor: pointer;
                            }
                        }
                    }
                }
               }
           }
        }

    }
}

@media screen and (max-width:1179px){
    .community{
        .inner{

            .help{

               .boxes{
                   flex-direction: column;
                   .inputBox{
                    width: 100%;
                    padding-right: 0px;
                    .btns{
                        margin-bottom: 40px;
                    }
                   }
                   .showBox{
                    width: 100%;
                   }
               }
            }

        }
    }

}