.main {
	width: 100%;
	height: 90vh;
	padding-bottom: 4vh;
	padding-top: 4vh;


	.inner {
		width: 100%;
		height: 100%;
		// border-top: 5px solid #fff;
		border-bottom: 5px solid #fff;
	}

	article {
		width: 40vw;
		position: absolute;
		top: 55%;
		padding-left: 12vw;
		transform: translateY(-50%);
		z-index: 20;
		p {
			font: bold 64px/1 'Roboto';
			color: #fff;
			margin-bottom: 20px;
			text-shadow: 0px 0px 25px rgba(0, 0, 0, 0.3);

			span {
				-webkit-text-stroke: 0.5px rgb(253, 237, 90);
				-webkit-text-fill-color: transparent;
			}
		}
		em {
			font: 300 14px/1.2 'Roboto';
			color: #fff;
		}
		a {
			margin-top: 40px;
			display: block;
			width: 100%;
			padding: 10px;
			font: 300 14px/1 'Roboto';
			// border: 1px solid #000;
			background: linear-gradient(
				to right,
				rgba(255, 255, 255, 0.3),
				rgba(255, 255, 255, 0.9)
			);
			border-right: 8px solid #777;
			display: flex;
			align-items: center;
			color: #333;
			// transition: all 1s;
			&:hover {
				background: rgba(255, 255, 255, 0.9);
			}

			i {
				font-size: 10px;
				margin-left: 10px;
			}
		}
	}
	.phone {
		width: 420px;
		height: 800px;
		z-index: 0;
		position: absolute;
		top: 50%;
		right: 13%;
		transform: translateY(-35%);
		background: url('/src/img/bgPhone.png') no-repeat center/contain;
		// overflow: hidden;
		.screen {
			position: absolute;
			width: 240px;
			height: 420px;
			background-color: yellow;
			overflow: hidden;
			top: 401px;
			left: 89px;
			.mySwiper {
				width: 100%;
				height: 100%;
				background-color: #fff;
				position: absolute;
				z-index: 1;
				top: 0;
				left: 0;
				overflow: hidden;
				.swiper-slide {
					&:nth-of-type(1) {
						// background: url('/src/img/bg2.jpeg') center/cover;
						background:rgb(49, 44, 44);
					}
					z-index: 1;
				}
			}
		}
		.big-speech {
			position: absolute;
			top: 180px;
			left: -80px;
			font-size: 180px;
			color: #fff;
			transform: scaleX(-1);
			text-shadow: 0px 0px 25px rgba(0, 0, 0, 0.3);
			z-index: 30;
		}
		.small-speech {
			position: absolute;
			top: 400px;
			right: -20px;
			font-size: 120px;
			color: #fff;
			transform: scaleX(1);
			text-shadow: 0px 0px 25px rgba(0, 0, 0, 0.3);
			z-index: 30;
		}
	}
}
.welcome {
	background-color: #fff;
	padding: 100px 0;
	.inner {
		text-align: center;
		h2 {
			font: 300 16px/1 'Roboto';
			margin-bottom: 10px;
		}
		h1 {
			font: bold 18px/1 'Roboto';
		}
		.about {
			display: flex;
			justify-content: space-between;
			.box {
				width: 32%;
				padding: 20px;
				transition: 0.3s;
				border-radius: 10px;
				&:nth-of-type(2){
					background: #efefef;
				}
				&:hover {
					background: #efefef;
					transform: scale(1.04);
				}
				i {
					width: 40px;
					height: 40px;
					font-size: 15px;
					line-height: 40px;
					border: 1px solid #000;
					border-radius: 50%;
					margin: 20px 0 40px 0;
				}
				h3 {
					font: bold 16px/1 'Roboto';
					margin-bottom: 10px;
				}
				p {
					font: 300 14px/1.2 'Roboto';
					padding: 0 20px;
					margin-bottom: 20px;
				}
				span {
					font: 300 14px/1 'Roboto';
					cursor: pointer;

				}

			}
		}
	}
}
.intrdouction {
	background-color: #fff;
	display: flex;
	align-items: center;
	border-top: 1px solid #eee;
	border-bottom: 1px solid #eee;
	.left-video {
		width: 50%;
		height: 340px;
		background: #f5f3f5;
		video {
			width: 100%;
			height: 100%;
			object-fit: cover;
			filter: brightness(100%);
			opacity: 0.8;
		}
	}
	.right-text {
		width: 50%;
		padding: 80px 40px;

		h2 {
			font: 300 16px/1 'Roboto';
			margin-bottom: 10px;
		}
		h1 {
			font: bold 18px/1 'Roboto';
			margin-bottom: 10px;
			padding-bottom: 20px;
			border-bottom: 1px solid #ddd;
		}
		p {
			font: 300 14px/1.2 'Roboto';
			margin-bottom: 20px;
		}
		a {
			font: 300 14px/1 'Roboto';
			i{
				margin-left: 2px;
				font-size: 12px;

			}
		}
	}
}
.achievement {
	padding: 80px 0;
	background: #f5f5f5;
	.inner {
		.blocks {
			display: flex;
			justify-content: space-between;
			.block {
				width: 25%;
				display: flex;
				justify-content: center;
				align-items: center;
				i {
					width: 40px;
					font-size: 20px;
				}
				.text {
					display: flex;
					flex-direction: column;
					span {
						font: 300 14px/1 'Roboto';
					}
					strong {
						font: bold 16px/1 'Roboto';
					}
				}
			}
		}
	}
}
.process {
	background-color: #fff;
	padding: 50px 0;
	.inner {
		text-align: center;
		h2 {
			font: 300 16px/1 'Roboto';
			margin-bottom: 10px;
		}
		h1 {
			font: bold 18px/1 'Roboto';
		}
		.round {
			width: 100%;
			height: 280px;
			display: flex;
			align-items: center;
			justify-content: center;
			margin-bottom: 20px;
			&:nth-of-type(2) {
				flex-direction: row-reverse;
			}
			.left-pic {
				width: 250px;
				height: 250px;
				border-radius: 50%;
				display: flex;
				justify-content: center;
				align-items: center;
				overflow: hidden;
				box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.3);

				img {
					width: 100%;
					height: 100%;
					object-fit: cover;
					transition: all 0.3s;

					&:hover{
						transform: scale(1.1);
					}
				}
			}
			.right-text {
				width: 50%;
				padding: 40px 60px;
				text-align: left;
				h2 {
					font: 300 16px/1 'Roboto';
				}
				h1 {
					font: bold 18px/1 'Roboto';
					margin-bottom: 20px;
				}
				p {
					font: 300 14px/1.2 'Roboto';
					margin-bottom: 20px;
				}
				span {
					font: 300 14px/1 'Roboto';
					cursor: pointer;
				}
			}
		}
	}
}
.banner {
	width: 100%;
	height: 300px;
	position: relative;
	display: inline-block;
	cursor: pointer;
	.banner-inner{
		text-align: center;
		color: #fff;
		h1{
			font: bold 20px/1 'Roboto';
			margin-bottom: 20px;
		}
		p{
			font: 300 14px/1.2 'Roboto';
		}
	}


	&::before,
	&::after {
		content: '';
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		transition: all 0.8s;
		width: 95%;
		height: 80%;
	}
	&::before {
		border-top: 5px solid #fff;
		border-bottom: 5px solid #fff;
		width: 0;
	}
	&::after {
		border-left: 5px solid #fff;
		border-right: 5px solid #fff;
		height: 0;
	}
	&:hover::before {
		width: calc(95% + 10px);
	}
	&:hover::after {
		height: calc(80% + 10px);
	}
}
.testimonials {
	background-color: #fff;
	padding: 50px 0;
	.inner {
		text-align: center;
		h2 {
			font: 300 16px/1 'Roboto';
			margin-bottom: 10px;
		}
		h1 {
			font: bold 18px/1 'Roboto';
		}
		.reviews {
			display: flex;
			justify-content: space-around;
			.review {
				width: 30%;
				padding: 60px 30px;
				background: #f5f5f5;
				border-radius: 10px;
				i {
					font-size: 25px;
					margin-bottom: 40px;
				}
				p {
					font: 300 14px/1.2 'Roboto';
					margin-bottom: 40px;
				}
				.writer {
					display: flex;
					justify-content: center;
					align-items: center;
					.left-pic {
						width: 50px;
						height: 50px;
						border-radius: 10px;
						overflow: hidden;
						background-color: #000;
						img {
							width: 100%;
							height: 100%;
							object-fit: cover;
						}
					}
					.right-name {
						width: 50%;
						display: flex;
						flex-direction: column;
						strong {
							font: 14px/1 'Roboto';

						}
						span {
							font: 300 12px/1 'Roboto';

						}
					}
				}
			}
		}
	}
}
.sponsor {
	padding: 50px 0;
	background: #fff;
	.companies {
		display: flex;
		flex-wrap: wrap;

		.company {
			width: 25%;
			height: 100px;
			padding: 28px;
			border: 1px solid #ddd;
			opacity: 0.8;

			img {
				width: 100%;
				height: 100%;
				object-fit: contain;
			}
		}
	}
}

@media screen and (max-width: 1179px) {
	.main {
		article {
			p {
				span {
					-webkit-text-fill-color: rgb(253, 237, 90);
				}
			}
		}
		.phone {
			.big-speech {
				display: none;
			}
		}
	}
	.welcome {

		.inner {
			.about {

				.box {

					p {

						padding: 0px;

					}

				}
			}
		}
	}
}

@media screen and (max-width: 720px) {
	.process {

		.inner {

			.round {
				.left-pic {
					width: 200px;
					height: 200px;
				}
				.right-text {
					padding:20px;
				}
			}
		}
	}
	.banner {

		.banner-inner{

			h1{
				font: bold 18px/1 'Roboto';

			}
			p{
				padding: 0 40px;
			}
		}

	}
	.testimonials {
		.inner {
			.reviews {
				flex-wrap: wrap;
				flex-direction: column;
				.review {
					width: 100%;
					padding: 40px 30px;
					margin-bottom: 20px;
					.writer {
						justify-content: center;

						.right-name {
							width: 30%;
						}
					}
				}
			}
		}
	}
}
@media screen and (max-width: 539px) {
	.main {
		article {
			p {
				font: bold 58px/1 'Roboto';
			}
		}
	}
	.welcome {

		.inner {

			.about {
				flex-wrap: wrap;
				flex-direction: column;
				.box {
					width: 100%;
				}
			}
		}
	}
	.intrdouction {
		flex-wrap: wrap;
		flex-direction: column;
		.left-video {
			width: 100%;
		}
		.right-text {
			width: 100%;

			h2 {
				font: 300 16px/1 'Roboto';
				margin-bottom: 10px;
			}
			h1 {
				font: bold 18px/1 'Roboto';
				margin-bottom: 10px;
				padding-bottom: 20px;
				border-bottom: 1px solid #ddd;
			}
			p {
				font: 300 14px/1.2 'Roboto';
				margin-bottom: 20px;
			}
			a {
				font: 300 14px/1 'Roboto';
			}
		}
	}
	.achievement {
		.inner {
			.blocks {
				flex-wrap: wrap;
				.block {
					width: 50%;
					margin-bottom: 10px;
				}
			}
		}
	}
	.process {

		.inner {

			.round {
				flex-direction: column;
				height: auto;
				&:nth-of-type(2) {
					flex-direction: column;
				}
				.left-pic {
					width: 140px;
					height: 140px;
					margin-bottom: 40px;
				}
				.right-text {
					width: 100%;
					padding:0px;
				}
			}
		}
	}
	.sponsor {
		padding: 0 0 50px 0;

		.companies {

			.company {
				width: 50%;
			}
		}
	}


}