@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&family=Roboto:wght@300;400&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

ul, ol, li {
  list-style: none; }

a {
  text-decoration: none;
  color: #000; }

header {
  width: 100%;
  padding: 0 12vw;
  background: #fff; }
  header .inner {
    height: 10vh;
    position: relative; }
    header .inner h1 {
      position: absolute;
      top: 20%;
      left: 0; }
      header .inner h1 a {
        font: bold 22px/1 'Roboto';
        letter-spacing: 4px;
        color: #1e3a2be7;
        cursor: pointer; }
    header .inner #gnb {
      position: absolute;
      top: 40%;
      right: 0px; }
      header .inner #gnb li {
        float: left; }
        header .inner #gnb li a {
          display: inline-block;
          padding: 0 20px;
          font: 14px/1 'Roboto';
          color: #bbb;
          cursor: pointer; }

footer {
  width: 100%;
  padding: 0 12vw;
  background: #484848;
  color: #fff; }
  footer .inner {
    padding: 80px 0;
    display: flex;
    align-items: center; }
    footer .inner .footer-left {
      width: 70%;
      padding-right: 20px; }
      footer .inner .footer-left h1 {
        font: bold 18px/1 'Roboto';
        margin-bottom: 20px; }
      footer .inner .footer-left p {
        font: 300 14px/1.2 'Roboto'; }
    footer .inner .footer-right {
      width: 30%;
      display: flex;
      flex-direction: column; }
      footer .inner .footer-right span {
        font: 300 14px/1 'Roboto';
        margin-bottom: 5px; }
      footer .inner .footer-right h2 {
        font: bold 20px/1 'Roboto';
        margin-bottom: 10px; }
      footer .inner .footer-right strong {
        font: 300 14px/1 'Roboto'; }

.content {
  padding: 120px 0; }
  .content > .inner {
    padding: 0 12vw; }
    .content > .inner > h1 {
      font: bold 30px/1 'Roboto';
      -webkit-text-stroke: 1px #ccc;
      -webkit-text-fill-color: transparent;
      margin-bottom: 60px;
      padding-bottom: 20px;
      border-bottom: 1px solid #ccc; }

.main {
  animation: fade 1s ease-in-out; }
  .main .top {
    width: 100%;
    height: 82vh;
    background: #ddd;
    position: relative; }
    .main .top img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transform: scaleX(-1);
      filter: brightness(110%); }
    .main .top .main-title {
      width: 480px;
      height: 280px;
      padding: 50px;
      margin: 0 auto;
      position: absolute;
      top: 20%;
      right: 20%;
      display: flex;
      flex-direction: column;
      z-index: 1;
      color: #1e3a2be7; }
      .main .top .main-title h2 {
        font: 14px/1 'Roboto';
        padding-bottom: 4px;
        margin-bottom: 30px;
        border-bottom: 1px solid #efefef; }
      .main .top .main-title h1 {
        font: bold 28px/1 'Roboto';
        margin-bottom: 10px; }
      .main .top .main-title p {
        font: 300 14px/1.4 'Roboto';
        margin-bottom: 20px; }
      .main .top .main-title a {
        display: inline-block;
        width: fit-content;
        padding: 8px 50px;
        background-color: #1e3a2be7;
        border-radius: 4px;
        color: #fff;
        font: 300 12px/1 'Roboto';
        text-align: left; }
  .main .bottom {
    width: 100%;
    height: 8vh;
    background: #efefef;
    position: relative; }
    .main .bottom .pics {
      display: flex;
      justify-content: flex-end;
      position: absolute;
      bottom: 40px;
      right: 0px; }
      .main .bottom .pics .pic {
        width: 32%;
        height: 150px;
        background: #959595;
        margin-left: 15px;
        overflow: hidden;
        position: relative;
        border: 2px solid #fff; }
        .main .bottom .pics .pic::after {
          content: "";
          display: block;
          background-color: rgba(255, 255, 255, 0.171);
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0; }
        .main .bottom .pics .pic:hover::after {
          background: none; }
        .main .bottom .pics .pic img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          position: relative; }

.welcome {
  padding: 100px 0; }
  .welcome .inner {
    text-align: center; }
    .welcome .inner h2 {
      font: 300 16px/1 'Roboto';
      margin-bottom: 10px; }
    .welcome .inner h1 {
      font: bold 18px/1 'Roboto'; }
    .welcome .inner .about {
      display: flex;
      justify-content: center; }
      .welcome .inner .about .box {
        width: 32%;
        padding-bottom: 20px; }
        .welcome .inner .about .box:hover {
          background: #efefef; }
        .welcome .inner .about .box i {
          width: 40px;
          height: 40px;
          font-size: 15px;
          line-height: 40px;
          border: 1px solid #000;
          border-radius: 50%;
          margin: 20px 0 40px 0; }
        .welcome .inner .about .box h3 {
          font: bold 16px/1 'Roboto';
          margin-bottom: 10px; }
        .welcome .inner .about .box p {
          font: 300 14px/1.2 'Roboto';
          padding: 0 20px;
          margin-bottom: 20px; }
        .welcome .inner .about .box span {
          font: 300 14px/1 'Roboto';
          cursor: pointer; }

.intrdouction {
  display: flex;
  align-items: center; }
  .intrdouction .left-video {
    width: 50%;
    height: 340px;
    background: #f5f3f5; }
    .intrdouction .left-video video {
      width: 100%;
      height: 100%;
      object-fit: cover;
      filter: brightness(100%);
      opacity: 0.8; }
  .intrdouction .right-text {
    width: 50%;
    padding: 80px 40px; }
    .intrdouction .right-text h2 {
      font: 300 16px/1 'Roboto';
      margin-bottom: 10px; }
    .intrdouction .right-text h1 {
      font: bold 18px/1 'Roboto';
      margin-bottom: 10px;
      padding-bottom: 20px;
      border-bottom: 1px solid #ddd; }
    .intrdouction .right-text p {
      font: 300 14px/1.2 'Roboto';
      margin-bottom: 20px; }
    .intrdouction .right-text a {
      font: 300 14px/1 'Roboto'; }

.achievement {
  padding: 80px 0;
  background: #f5f5f5; }
  .achievement .inner .blocks {
    display: flex;
    justify-content: space-between; }
    .achievement .inner .blocks .block {
      width: 25%;
      display: flex;
      justify-content: center;
      align-items: center; }
      .achievement .inner .blocks .block i {
        width: 40px;
        font-size: 20px; }
      .achievement .inner .blocks .block .text {
        display: flex;
        flex-direction: column; }
        .achievement .inner .blocks .block .text span {
          font: 300 14px/1 'Roboto'; }
        .achievement .inner .blocks .block .text strong {
          font: bold 16px/1 'Roboto'; }

.process {
  padding: 50px 0; }
  .process .inner {
    text-align: center; }
    .process .inner h2 {
      font: 300 16px/1 'Roboto';
      margin-bottom: 10px; }
    .process .inner h1 {
      font: bold 18px/1 'Roboto'; }
    .process .inner .round {
      width: 100%;
      height: 280px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 20px;
      padding: 0 80px; }
      .process .inner .round:nth-of-type(2) {
        flex-direction: row-reverse; }
      .process .inner .round .left-pic {
        width: 50%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center; }
        .process .inner .round .left-pic img {
          width: 100%;
          height: 100%;
          padding: 0 20%;
          border-radius: 50%;
          object-fit: cover; }
      .process .inner .round .right-text {
        width: 50%;
        padding: 40px 0;
        text-align: left; }
        .process .inner .round .right-text h2 {
          font: 300 16px/1 'Roboto'; }
        .process .inner .round .right-text h1 {
          font: bold 18px/1 'Roboto';
          margin-bottom: 20px; }
        .process .inner .round .right-text p {
          font: 300 14px/1.2 'Roboto';
          margin-bottom: 20px; }
        .process .inner .round .right-text span {
          font: 300 14px/1 'Roboto';
          cursor: pointer; }

.banner {
  width: 100%;
  height: 240px;
  background: #e2e3e5;
  position: relative;
  display: inline-block;
  background: url("/public/img/11.jpg") no-repeat center/cover fixed; }
  .banner span.text {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 100%;
    font-size: 30px;
    color: #fff;
    font-weight: 900;
    text-align: center; }
  .banner::before, .banner::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all .8s;
    width: 95%;
    height: 80%; }
  .banner::before {
    border-top: 2px solid #fff;
    border-bottom: 3px solid #fff;
    width: 0; }
  .banner::after {
    border-left: 2px solid #fff;
    border-right: 3px solid #fff;
    height: 0; }
  .banner:hover::before {
    width: calc(95% + 4px); }
  .banner:hover::after {
    height: calc(80% + 4px); }

.testimonials {
  padding: 50px 0; }
  .testimonials .inner {
    text-align: center; }
    .testimonials .inner h2 {
      font: 300 16px/1 'Roboto';
      margin-bottom: 10px; }
    .testimonials .inner h1 {
      font: bold 18px/1 'Roboto'; }
    .testimonials .inner .reviews {
      display: flex;
      justify-content: space-around; }
      .testimonials .inner .reviews .review {
        width: 30%;
        padding: 60px 30px;
        background: #f5f5f5;
        border-radius: 10px; }
        .testimonials .inner .reviews .review i {
          font-size: 25px;
          margin-bottom: 40px; }
        .testimonials .inner .reviews .review p {
          font: 300 14px/1.2 'Roboto';
          margin-bottom: 40px; }
        .testimonials .inner .reviews .review .writer {
          display: flex;
          align-items: center;
          padding: 0 40px; }
          .testimonials .inner .reviews .review .writer .left-pic {
            width: 50px;
            height: 50px;
            background-color: #000; }
          .testimonials .inner .reviews .review .writer .right-name {
            width: 70%;
            display: flex;
            flex-direction: column; }
            .testimonials .inner .reviews .review .writer .right-name strong {
              font: 14px/1 'Roboto'; }
            .testimonials .inner .reviews .review .writer .right-name span {
              font: 300 12px/1 'Roboto'; }

.sponsor {
  padding: 50px 0;
  background: #fff; }
  .sponsor .companies {
    display: flex;
    flex-wrap: wrap; }
    .sponsor .companies .company {
      width: 20%;
      height: 100px;
      padding: 20px;
      border: 1px solid #ddd; }
      .sponsor .companies .company img {
        width: 100%;
        height: 100%;
        object-fit: contain; }

.community .inner .faq {
  animation: fade 1s ease-in-out; }
  .community .inner .faq h1 {
    font: 20px/1 'Roboto';
    margin-bottom: 40px;
    padding-bottom: 20px;
    border-bottom: 1px solid #ddd;
    color: #555; }
  .community .inner .faq article {
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    border-bottom: 2px solid #999;
    cursor: pointer; }
    .community .inner .faq article:hover {
      background: #efefef; }
    .community .inner .faq article.active .answer {
      max-height: 300px;
      animation: fade 1s ease-in-out; }
    .community .inner .faq article.active i {
      transform: rotate(180deg); }
    .community .inner .faq article .question {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-top: 1rem;
      cursor: pointer; }
      .community .inner .faq article .question .question-front {
        display: flex; }
        .community .inner .faq article .question .question-front h2 {
          margin-left: 20px;
          font: bold 16px/1 'Roboto';
          cursor: pointer; }
        .community .inner .faq article .question .question-front i {
          margin-left: 10px;
          cursor: pointer; }
      .community .inner .faq article .question i {
        transition: transform 0.8s ease-in-out;
        margin-right: 10px;
        cursor: pointer; }
    .community .inner .faq article .answer {
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.8s ease-in-out; }
      .community .inner .faq article .answer p {
        padding-top: 2rem;
        padding-left: 40px;
        font: 300 14px/1.4 'Roboto';
        color: #aaa; }

.gallery .inner {
  position: relative; }
  .gallery .inner h1 {
    cursor: pointer; }
  .gallery .inner .intro {
    display: flex;
    align-items: top;
    padding-bottom: 40px;
    border-bottom: 1px solid #ddd;
    margin-bottom: 20px;
    animation: fade 1s ease-in-out; }
    .gallery .inner .intro .intro-left {
      width: 50%;
      padding-right: 20px; }
      .gallery .inner .intro .intro-left h2 {
        font: 20px/1 'Roboto';
        margin-bottom: 10px;
        color: #555; }
      .gallery .inner .intro .intro-left h3 {
        font: 18px/1 'Roboto';
        margin-bottom: 20px;
        color: #bbb; }
      .gallery .inner .intro .intro-left p {
        font: 300 14px/1.2 'Roboto';
        padding-bottom: 40px;
        width: 100%; }
    .gallery .inner .intro .intro-right {
      width: 50%; }
      .gallery .inner .intro .intro-right p {
        font: 300 14px/1.2 'Roboto';
        padding-bottom: 40px; }
      .gallery .inner .intro .intro-right .searchbox {
        display: flex;
        justify-content: flex-end;
        align-items: center; }
        .gallery .inner .intro .intro-right .searchbox input {
          height: 25px;
          margin-right: 5px;
          background: #f5f5f5;
          border: none;
          outline: none; }
        .gallery .inner .intro .intro-right .searchbox button {
          outline: none;
          border: none;
          padding: 4px 10px;
          background-color: #324b4c;
          color: #fff;
          cursor: pointer;
          font-family: 'Roboto'; }
  .gallery .inner .loading {
    width: 100px;
    height: 100px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  .gallery .inner .list {
    opacity: 0;
    transform: translateY(-100px);
    transition: 1s;
    position: relative; }
    .gallery .inner .list.on {
      opacity: 1;
      transform: translateY(0px); }
    .gallery .inner .list ul {
      width: 100%;
      display: flex;
      flex-wrap: wrap; }
      .gallery .inner .list ul .pic {
        width: 25%;
        padding: 10px;
        transition: all 0.3s;
        margin-bottom: 20px; }
        .gallery .inner .list ul .pic:hover {
          transform: scale(1.02);
          z-index: 10; }
        .gallery .inner .list ul .pic .inner {
          width: 100%;
          padding: 20px;
          background: #fff;
          box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1);
          word-break: break-all;
          cursor: pointer; }
          .gallery .inner .list ul .pic .inner:hover {
            background: #efefef; }
            .gallery .inner .list ul .pic .inner:hover .click {
              display: block; }
          .gallery .inner .list ul .pic .inner img {
            width: 100%;
            margin-bottom: 30px;
            position: relative; }
          .gallery .inner .list ul .pic .inner .click {
            display: block;
            position: absolute;
            top: 30%;
            left: 50%;
            transform: translateX(-50%);
            color: #efefef;
            font: 12px/1 'Roboto';
            z-index: 2;
            display: none;
            transition: all 3s; }
          .gallery .inner .list ul .pic .inner .type {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 10px;
            color: #777; }
            .gallery .inner .list ul .pic .inner .type span {
              font: 12px/1 'Roboto'; }
              .gallery .inner .list ul .pic .inner .type span i {
                padding: 2px;
                font-size: 10px;
                color: #777;
                margin-left: 4px;
                cursor: pointer; }
          .gallery .inner .list ul .pic .inner h2 {
            padding-bottom: 10px;
            border-bottom: 1px solid #ddd;
            font: bold 14px/1.2 'Roboto';
            color: #000;
            margin-bottom: 20px;
            text-align: left; }
          .gallery .inner .list ul .pic .inner p {
            font: 300 12px/1.2 'Roboto';
            margin-bottom: 20px; }
          .gallery .inner .list ul .pic .inner strong {
            font: normal 10px/1 'Roboto';
            color: #999; }
.gallery .popup {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: #000;
  padding: 7vw;
  display: flex;
  align-items: flex-end; }
  .gallery .popup .pic {
    width: 60%;
    height: 100%;
    padding: 0 20px; }
    .gallery .popup .pic img {
      width: 100%;
      height: 100%;
      object-fit: cover; }
  .gallery .popup .text {
    width: 40%;
    padding: 0 20px; }
    .gallery .popup .text h2 {
      font: bold 20px 'Roboto';
      color: #fff;
      margin-bottom: 30px; }
    .gallery .popup .text p {
      font: 300 14px/1.2 'Roboto';
      color: #fff;
      margin-top: 10px; }
  .gallery .popup span {
    font: bold 14px/1 "arial";
    color: #fff;
    position: absolute;
    top: 3vw;
    right: 5vw;
    cursor: pointer; }

@media screen and (max-width: 1179px) {
  .gallery .inner .list ul .pic {
    width: 33.3333%; } }
@media screen and (max-width: 700px) {
  .gallery .inner .intro {
    flex-direction: column; }
    .gallery .inner .intro .intro-left, .gallery .inner .intro .intro-right {
      width: 100%; }
  .gallery .inner .list ul .pic {
    width: 50%; } }
@media screen and (max-width: 539px) {
  .gallery .inner .list ul .pic {
    width: 100%; } }
.youtube .inner .news {
  animation: fade 1s ease-in-out; }
  .youtube .inner .news h1 {
    font: 20px/1 'Roboto';
    margin-bottom: 30px;
    padding-bottom: 20px;
    border-bottom: 1px solid #ddd;
    color: #555; }
  .youtube .inner .news article {
    margin-bottom: 20px;
    border-bottom: 1px solid #efefef; }
    .youtube .inner .news article:hover {
      background: #efefef; }
    .youtube .inner .news article .inner {
      display: flex;
      justify-content: space-between;
      align-items: flex-start; }
      .youtube .inner .news article .inner .circle {
        padding-top: 10px;
        padding-left: 5px;
        width: 5%;
        font-size: 16px; }
      .youtube .inner .news article .inner .num {
        padding-top: 10px;
        width: 10%;
        display: flex;
        flex-direction: column;
        text-align: center; }
        .youtube .inner .news article .inner .num strong {
          font: bold 28px/1 'Roboto';
          margin-bottom: 4px; }
        .youtube .inner .news article .inner .num span {
          font: 12px/1 'Roboto'; }
      .youtube .inner .news article .inner .txt {
        width: 60%;
        padding: 10px 20px; }
        .youtube .inner .news article .inner .txt h2 {
          font: bold 16px/1 'Roboto';
          margin-bottom: 10px;
          cursor: pointer; }
        .youtube .inner .news article .inner .txt p {
          font: 300 14px/1.4 'Roboto'; }
      .youtube .inner .news article .inner .pic {
        width: 25%;
        height: 150px;
        position: relative;
        overflow: hidden; }
        .youtube .inner .news article .inner .pic img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          cursor: pointer;
          transition: all 0.5s; }
          .youtube .inner .news article .inner .pic img:hover {
            transform: scale(1.1); }
        .youtube .inner .news article .inner .pic i {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          color: #fff;
          font-size: 40px;
          cursor: pointer; }
.youtube .inner .library {
  animation: fade 1s ease-in-out;
  margin-bottom: 60px; }
  .youtube .inner .library h1 {
    font: 20px/1 'Roboto';
    margin-bottom: 40px;
    padding-bottom: 20px;
    border-bottom: 1px solid #ddd; }
  .youtube .inner .library .inner {
    display: flex; }
    .youtube .inner .library .inner .left {
      width: 50%;
      background: #ddd; }
    .youtube .inner .library .inner .right {
      width: 50%;
      background: #eee;
      display: flex;
      flex-direction: column; }
      .youtube .inner .library .inner .right .right-upper {
        width: 100%;
        height: 150px; }
      .youtube .inner .library .inner .right .right-lower {
        width: 100%;
        height: 150px;
        display: flex;
        background: #333; }
        .youtube .inner .library .inner .right .right-lower .box {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          color: #fff;
          border-right: 1px solid #fff;
          padding: 10px; }
          .youtube .inner .library .inner .right .right-lower .box h2 {
            font: 16px/1 'Roboto'; }
          .youtube .inner .library .inner .right .right-lower .box span {
            font: 300 12px/1 'Roboto'; }
.youtube .inner .issue {
  animation: fade 1s ease-in-out; }
  .youtube .inner .issue .inner {
    display: flex;
    justify-content: space-between; }
    .youtube .inner .issue .inner .text {
      width: 48%; }
      .youtube .inner .issue .inner .text h1 {
        font: 20px/1 'Roboto';
        margin-bottom: 40px;
        padding-bottom: 20px;
        border-bottom: 1px solid #ddd; }
        .youtube .inner .issue .inner .text h1 span {
          float: right; }
          .youtube .inner .issue .inner .text h1 span i {
            color: #ddd;
            cursor: pointer; }
      .youtube .inner .issue .inner .text article {
        margin-bottom: 20px;
        padding: 2px; }
        .youtube .inner .issue .inner .text article:hover {
          background: #efefef; }
        .youtube .inner .issue .inner .text article h2 {
          font: bold 16px/1 'Roboto';
          margin-bottom: 10px; }
        .youtube .inner .issue .inner .text article p {
          font: 300 14px/1.4 'Roboto';
          margin-bottom: 10px; }
        .youtube .inner .issue .inner .text article span {
          font: 12px/1.4 'Roboto'; }
.youtube .inner .pop {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0px;
  left: 0px;
  background: rgba(0, 0, 0, 0.9);
  padding: 5vw; }
  .youtube .inner .pop iframe {
    border: none;
    width: 100%;
    height: 100%; }
  .youtube .inner .pop span {
    position: absolute;
    top: 3vw;
    right: 5vw;
    font: bold 14px/1 "arial";
    color: #fff;
    cursor: pointer; }

@media screen and (max-width: 620px) {
  .youtube .inner .news article {
    margin-bottom: 40px; }
    .youtube .inner .news article .inner {
      flex-wrap: wrap; }
      .youtube .inner .news article .inner .circle {
        width: 10%; }
      .youtube .inner .news article .inner .num {
        width: 20%; }
      .youtube .inner .news article .inner .txt {
        width: 70%;
        word-break: break-all; }
      .youtube .inner .news article .inner .pic {
        width: 100%;
        margin-top: 20px; }
  .youtube .inner .library .inner {
    flex-direction: column; }
    .youtube .inner .library .inner .left {
      width: 100%;
      height: 300px; }
    .youtube .inner .library .inner .right {
      width: 100%; }
  .youtube .inner .issue .inner {
    flex-direction: column; }
    .youtube .inner .issue .inner .text {
      width: 100%;
      margin-bottom: 40px; } }
.inner {
  animation: fade 1s ease-in-out; }
  .inner .intro {
    display: flex;
    padding-bottom: 40px;
    border-bottom: 1px solid #ddd;
    justify-content: space-between; }
    .inner .intro .intro-first {
      width: 33%; }
      .inner .intro .intro-first h2 {
        font: 20px/1 'Roboto';
        margin-bottom: 10px;
        color: #555; }
      .inner .intro .intro-first h3 {
        font: 18px/1 'Roboto';
        margin-bottom: 20px;
        color: #ccc; }
    .inner .intro .intro-second {
      width: 33%; }
      .inner .intro .intro-second p {
        font: 300 14px/1.2 'Roboto';
        padding-bottom: 20px;
        padding-right: 20px; }
    .inner .intro .intro-third {
      width: 33%; }
      .inner .intro .intro-third p {
        font: 300 14px/1.2 'Roboto';
        padding-bottom: 40px;
        padding-right: 20px; }
  .inner .history {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px 0;
    text-align: center; }
    .inner .history .text {
      width: 20%; }
      .inner .history .text h2 {
        font: bold 16px/1 'Roboto';
        margin-bottom: 20px; }
      .inner .history .text p {
        font: 300 14px/1 'Roboto';
        color: #777; }
    .inner .history .items {
      width: 80%;
      display: flex; }
      .inner .history .items .item {
        position: relative;
        width: 25%;
        display: flex;
        flex-direction: column; }
        .inner .history .items .item i {
          font-size: 24px;
          margin-bottom: 5px;
          color: #777; }
        .inner .history .items .item strong {
          font: bold 28px/1 'Roboto';
          margin-bottom: 5px;
          color: #333;
          border-right: 2px solid #ddd; }
        .inner .history .items .item span {
          font: 300 14px/1 'Roboto';
          color: #777; }
        .inner .history .items .item:hover::before {
          background-color: #efefef;
          box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.1); }
        .inner .history .items .item::before {
          content: "";
          border: 1px solid #ccc;
          border-radius: 50%;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 60%;
          height: 180%;
          z-index: -1;
          box-shadow: 0px 0px 25px 3px rgba(0, 0, 0, 0.1); }
      .inner .history .items .last strong {
        border-right: none; }
  .inner .description {
    padding-bottom: 40px; }
    .inner .description .boxes {
      display: flex;
      justify-content: space-between; }
      .inner .description .boxes .box {
        width: 50%;
        padding: 40px 80px;
        border: 1px solid #ddd;
        background: #efefef; }
        .inner .description .boxes .box span {
          font: 14px/1 'Roboto'; }
        .inner .description .boxes .box h2 {
          font: bold 16px/1 'Roboto';
          margin: 10px 0; }
        .inner .description .boxes .box p {
          font: 300 12px/1.2 'Roboto';
          margin-bottom: 10px; }
        .inner .description .boxes .box input {
          margin-right: 5px;
          outline: none;
          border: none;
          padding: 2px 0; }
        .inner .description .boxes .box button {
          padding: 5px 20px;
          border: none;
          background: #777;
          color: #fff;
          font: 12px/1 'Roboto';
          cursor: pointer; }
      .inner .description .boxes .left {
        text-align: right; }
  .inner .people .text h2 {
    font: 20px/1 'Roboto';
    color: #555;
    margin-bottom: 30px;
    padding-bottom: 20px;
    border-bottom: 1px solid #ddd; }
  .inner .people .list {
    display: flex;
    justify-content: space-between; }
    .inner .people .list .card-container {
      width: 30%;
      height: 28rem;
      perspective: 1000px; }
      .inner .people .list .card-container:hover .card {
        transform: rotateY(180deg); }
      .inner .people .list .card-container .card {
        position: relative;
        width: 100%;
        height: 100%;
        transform-style: preserve-3d;
        transition: transform 0.7s ease; }
        .inner .people .list .card-container .card .front, .inner .people .list .card-container .card .back {
          width: 100%;
          height: 100%;
          padding: 2rem 1rem;
          border-radius: 8px;
          backface-visibility: hidden;
          background-color: #efefef;
          color: #000;
          position: absolute;
          text-align: center; }
          .inner .people .list .card-container .card .front .pic, .inner .people .list .card-container .card .back .pic {
            width: 80%;
            height: 50%;
            margin-bottom: 20px; }
            .inner .people .list .card-container .card .front .pic img, .inner .people .list .card-container .card .back .pic img {
              width: 100%;
              height: 100%;
              background: #fff; }
        .inner .people .list .card-container .card .front {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: center;
          padding: 40px 0; }
          .inner .people .list .card-container .card .front h3 {
            font: bold 16px/1 'Roboto';
            margin: 10px 0; }
          .inner .people .list .card-container .card .front h4 {
            font: 300 14px/1 'Roboto';
            padding-bottom: 1rem;
            margin-bottom: 3rem;
            border-bottom: 1px solid #ddd; }
          .inner .people .list .card-container .card .front p {
            font: 300 14px/1 'Roboto';
            margin-bottom: 10px; }
          .inner .people .list .card-container .card .front button {
            font: 300 14px/1 'Roboto';
            border: none; }
            .inner .people .list .card-container .card .front button i {
              color: #000; }
        .inner .people .list .card-container .card .back {
          transform: rotateY(180deg);
          display: flex;
          flex-direction: column;
          justify-content: center;
          padding: 0 40px; }
          .inner .people .list .card-container .card .back h3 {
            font: bold 16px/1 'Roboto';
            text-decoration: underline; }
          .inner .people .list .card-container .card .back p {
            font: 300 14px/1.4 'Roboto';
            margin-top: 4rem;
            text-align: center; }
          .inner .people .list .card-container .card .back .sns {
            margin-top: 4rem; }
            .inner .people .list .card-container .card .back .sns i {
              padding: 10px;
              border: 1px solid #ddd;
              margin: 0 20px;
              border-radius: 4px;
              font-size: 18px;
              cursor: pointer; }

@keyframes fade {
  from {
    opacity: 0;
    transform: translateY(-10px); }
  to {
    opacity: 1;
    transform: translateY(0px); } }

/*# sourceMappingURL=style.css.map */
